

#hiddenMessage.visible {
    opacity: 1;
    transform: scale(1);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .glow {
        font-size: 3em; /* Reduce font size for smaller screens */
    }

    #hiddenMessage {
        font-size: 1em; /* Adjust font size for better readability on small screens */
        margin-top: 10px; /* Reduce the top margin for spacing */
        padding: 15px; /* Adjust padding to save space */
    }
}
